*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.profile{
   width: 100%;
}
main{
    padding: 5%;
    background-image: linear-gradient(-10deg, #fff 30%, #0891b2 0%);
    background-size: 100vw 105vh;
    background-repeat: no-repeat;
}    
.about, .icons, .about-text, footer, .contact-info > a, .contact{
    display: flex;
}
.about{
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.about-text{
    padding: 10px 20px;
    flex-direction: column;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.453) inset, -1px -1px 1px 0.5px rgba(0, 0, 0, 0.453) inset;
    gap: 36px;
    font-size: 24px;
    background: white;
}
.picture{
    width: 200%;
    position: relative;
}
.about .caption{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 48px;
    text-align: center;
}
.caption{
   padding: 10px;
}
.icons{
    align-self: flex-end;
    gap: 20px;
}
.icons img, .logo img{
    height: 25px;
    width: 25px;
    
}
.work > img{
    height: 200px;
    width: 100%;
}
 .work{
    width: 100%;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.453), -1px -1px 1px 0.5px rgba(0, 0, 0, 0.453) inset;
 }
 .caption p{
   margin: 20px 0 30px;
 }
 .workBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 20px;
 }
 .workTitle{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 10px;
 }
 .contact svg{
    fill: white;
    width: 20px;
    height: 20px;
 }
 
 .contact-info > a{
    color: white;
    text-decoration: none;
    gap: 5px;
 }
 .contact{
  flex-direction: column;
  gap: 5px;
 }
 footer{
    justify-content: space-around;
    background-color: #0891b2;
    padding: 30px;
 }
 .foot{
    width: 300px;
 }
 .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
 }
 footer .icons{
    align-self: flex-start;
 }
 .works{
    margin: 20vh 0 10px;
 }
 .works > h2{
    font-size: 36px;
 }